{% extends 'base.html' %}
{% load core_tags %}

{% block body %}
<div class="task-detail">
    <div class="row">
    	<div class="block text-left col-md-6">
    		<h4>Created Tasks</h4>
			<ul class="list-group">
				
			    {% for task_item in created_tasks %}
			    	
			        <a href="{{ task_item.get_absolute_url }}"><li class="list-group-item list-group-item-info">{{ task_item }} <span style="float: right; font-size: 10px;">Deadline: {{ task_item.deadline }}</span></li></a>
						{% empty %}
			         <p>Nothing to show created tasks with you</p>
			    {% endfor %}
			</ul>
			    <br>
			    <a href="{% url 'task:create' %}">Create Task</a>
		</div>

		<div class="second-block col-md-6">
			<h4>Shared Tasks</h4>
			    {% for task_item in shared_tasks %}
			         <a href="{{ task_item.get_absolute_url }}"><li class="list-group-item list-group-item-info">{{ task_item }}</li></a>
			         {% empty %}
			         <p>Nothing to show shared tasks with you</p>
			    {% endfor %}
		</div>
	</div>
</div>

<style>

    .task-detail{
        width: 100%;
        max-width: 1000px;
        padding: 80px 10px 10px 15px;
        margin:auto;
    }

    .block{
        border:1px solid #ded4d4;
        background-color: #fff;
        border-radius: 15px;
        padding: 30px 30px;
        margin: 5px;
		max-width: 492px;
    }
    .second-block{
        border:1px solid #ded4d4;
        background-color: #fff;
        border-radius: 15px;
        padding: 30px 30px;
        margin: 5px;
		max-width: 492px;
    }
</style>

{% endblock %}